<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mapster" version="7.3.0" targetFramework="net472" />
  <package id="Mapster.Core" version="1.2.0" targetFramework="net472" />
  <package id="Microsoft.Alm.Authentication" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.8" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
</packages>