<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ben.Demystifier" version="0.1.2" targetFramework="net472" />
  <package id="MessagePack" version="2.2.85" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.2.85" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Framework" version="16.5.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Developer.IdentityService.Client" version="1.17.0-alpha-0178" targetFramework="net472" />
  <package id="Microsoft.Developer.IdentityService.GitHubProvider.UI" version="1.17.0-alpha-0178" targetFramework="net472" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.41.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.18.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.6" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.IdentityService.Clients.ActiveDirectory" version="3.17.2-gfa97f253fb" targetFramework="net472" />
  <package id="Microsoft.Internal.VisualStudio.Interop" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Analyzers" version="3.1.2036" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Client" version="3.1.2036" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Framework" version="3.1.2036" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Resources" version="3.1.2036" targetFramework="net472" />
  <package id="Microsoft.TeamFoundation.Git.Provider" version="17.1.32222.276" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.0.67-g9e37b637e6" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.0.67-g9e37b637e6" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.0.0-preview-2-31221-277" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.32" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.0.50-preview-0001-0001" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.9.2-alpha" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.162.1-preview" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="16.162.1-preview" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.0.0-previews-1-31320-381" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="17.0.0-preview-2-31221-277" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="17.0.0-preview-2-31221-277" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.0.0-preview-2-31221-277" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Telemetry" version="16.3.176" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.0.67-g9e37b637e6" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="17.0.15-alpha" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.0.15-alpha" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.0.0-previews-1-31320-296" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.23" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="17.0.16-alpha" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Nerdbank.Streams" version="2.6.81" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Octokit" version="0.47.0" targetFramework="net472" />
  <package id="Octokit.GraphQL" version="0.1.4-beta" targetFramework="net472" />
  <package id="StreamJsonRpc" version="2.8.7-alpha" targetFramework="net472" />
  <package id="StrongNamer" version="0.2.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>