<?xml version="1.0" encoding="utf-8"?>
<!--Make a copy of this file and name it to <filename>.runsettings before running tests.-->
<!--See https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019 for details about configuring this file.-->
<RunSettings>
  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="useExperimentalInstance" value="True"></Parameter>
    <Parameter name="vsInstallationUnderTest" value="Microsoft Visual Studio\2019\Enterprise\Common7\IDE\devenv.exe"></Parameter>
    <Parameter name="shutdownVsOnTestCleanup" value="False"></Parameter>
  </TestRunParameters>
</RunSettings>